:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;
  --checkbox-color: #0b76ef;

  --main-text-color: #000;

  --first-brand-color: #e0e0e0;
  --second-brand-color: #bebebe;
  --third-brand-color: #e4e5e7;

  --main-font: 'Open Sans Condensed';
  --title-font: 'Alfa Slab One';

  font-size: 62.5%;
}
